<html>

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SYSTEM REZERWACJI SAL</title>
        {% include 'reservation/head.html' %}
        {% block head %}
        {% endblock %}
        <link rel='' href=''>
    </head>

    <body>
    <!-- //--------------------------- header content -------------------------// -->
        {% block header %}
        {% include 'reservation/nav.html' %}
        {% endblock header %}
    <!-- //--------------------------- end header content -------------------------// -->

    <!-- //--------------------------- block content -------------------------// -->
        {% block content %}
        {% endblock %}
    <!-- //--------------------------- end block content -------------------------// -->

    <!-- //--------------------------- footer content -------------------------// -->
        <footer>
        </footer>
    <!-- //--------------------------- end footer content -------------------------// -->

    </body>
</html>