{% load static %}
<html>

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SYSTEM REZERWACJI SAL</title>
        {% block head %}
        {% endblock %}
        <link rel='stylesheet' href='{% static "rs/style.css" %}'>
    </head>

    <body>
        <div class="header">
            {% include 'rs/head.html' %}
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    <!-- //--------------------------- footer content -------------------------// -->
        <footer>
            <div class="footer">
                System Rezerwacji Sal opracowany przez Ines Kunaszyk
            </div>
        </footer>
    <!-- //--------------------------- end footer content -------------------------// -->

    </body>
</html>

