<style>
    body {
        font-size: 18px;
        padding: 1em 2em 1em 2em;
        max-width: 50em;
        margin: auto;x
    }

    div.content {
        border: 1px solid lightblue;
        border-radius: 8px;
        padding: 1em 2em 1em 2em;
        box-shadow: 0 1px 2px lightblue;
    }

    div.logo {
        border: 1px solid lightblue;
        border-radius: 8px;
        padding: 1em 2em 1em 2em;
        font-size: 150%;
        color: steelblue;
        margin-bottom: 2em;
        max-width: 50%;
        margin-right: auto;
        box-shadow: 0 2px 4px lightblue;
    }

    .nav {
        margin-bottom: 2em;
        border: 1px solid lightblue;
        border-radius: 8px;
        padding: 1em 2em 2em 2em;
        box-shadow: 0 1px 2px lightblue;
    }

    .headline {
        font-size: 125%;
        font-weight: bold;
        color: steelblue;
    }

    .nav a {
        padding: 0.5em 1em 0.5em 1em;
        border: 1px solid lightblue;
        border-radius: 4px;
        box-shadow: 0 2px 4px lightblue;
        text-decoration: none;
        color: steelblue;
        margin-right: 2em;
    }

    .nav a:hover {
        box-shadow: 0 4px 8px lightblue;
    }

    .nav a:active {
        box-shadow: 0 1px 2px lightblue;
    }

    .nav a:visited {
        color: steelblue;
    }


    .button {
        padding: 0.2em 0.5em 0.2em 0.5em;
        border: 1px solid lightblue;
        border-radius: 4px;
        box-shadow: 0 2px 4px lightblue;
        text-decoration: none;
        color: steelblue;
        margin: 0 1em 0 1em;
    }

    .button:hover {
        box-shadow: 0 4px 8px lightblue;
    }

    .button:active {
        box-shadow: 0 1px 2px lightblue;
    }

    .button:visited {
        color: steelblue;
    }

    .loose {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .editable {
        min-width: 50%;
        display: inline-block;
        border-bottom: 1px dotted lightblue;
    }

    input, select, textarea {
        border: 1px solid lightblue;
        border-radius: 4px;
        padding: 0.5em 1em 0.5em 1em;
        font-size: 18px;
        background-color: white;
    }

    form label {
        display: inline-block;
        min-width: 25%;
    }

    form button {
        background-color: white;
        font-size: 18px;
        margin-left: 0 !important;
        cursor: pointer;
    }

    .errorlist {
        color: red;
        font-weight: bold;
    }

    ol.movie-list li {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    ul.personmovie-list li {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .movie-title {
        display: inline-block;
        min-width: 50%;
        border-bottom: 1px dotted lightblue;
        padding-bottom: 0.5em;
    }
</style>
